@import "../../assets/scss/base/colors";

form.signup {
    width: 585px;
    height: 675px;
    background: $form-light;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    box-shadow: 6px 6px 12px rgba(165, 178, 175, 0.2),
        -6px -6px 12px rgba(165, 178, 175, 0.2),
        6px -6px 12px rgba(247, 255, 255, 0.9),
        -6px 6px 15px rgba(165, 178, 175, 0.9),
        inset -1px 1px 2px rgba(247, 255, 255, 0.3),
        inset 1px -1px 2px rgba(165, 178, 175, 0.5);
    border-radius: 20px;

    h1 {
        margin: 80px 0 72px 0;
        font-weight: 500;
        color: $dark;
    }

    div.password {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    button {
        margin: 28px 0 32px 0;
        cursor: pointer;
        width: 250px;
        height: 60px;
        background: $form-btn-bg;
        box-shadow: -1px 1px 2px rgba(162, 171, 171, 0.2),
            1px -1px 2px rgba(162, 171, 171, 0.2),
            -1px -1px 2px rgba(255, 255, 255, 0.9),
            1px 1px 3px rgba(162, 171, 171, 0.9),
            inset 1px 1px 2px rgba(255, 255, 255, 0.3),
            inset -1px -1px 2px rgba(162, 171, 171, 0.5);
        border-radius: 10px;
        color: $form-dark;
        transition: 0.15s ease-in-out;

        &:hover {
            background: $form-btn-bg-light;
        }
    }
}
