@import "../../../assets/scss/base/colors";

div.dashboard{
    
    div.island-card{
        margin-top: 4%;
        margin-left: 3% ;
        width: 25%;
    }
    div#dashboard-sections{
        overflow-y: scroll;
        height: 850px;
        h3 {
            font-family: "Poppins";
            font-size: 29px;
            padding-left: 3%;
            padding-top: 6%;
        }
    }  
}

