@import "../../assets/scss/base/colors";

div.bidding {
    width: 100%;
    display: flex;
    padding: 20px 50px 20px 20px;

    div.leftPart{
        width: 80%;
        img{
            width: 95%;
            height: 100%;
        };
    }

    div.rightPart{
        width: 30%;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        div.minimumBid{
            display: flex;
            p{
                font-family: Poppins;
                margin-left: 10px;
                font-size: 15px;
                color: $grey;
            }
            p.value{
                font-weight: 550;
                color: $dark;
            }
        }
        div.description{
            h2{
                font-family: Poppins;
                font-size: 20px;
                margin-top: 20px;
                font-weight: 450;
            }
            p{
                font-family: Poppins;
                font-size: 15px;
            }
        }
        div.info{
            width: 100%;
            display: flex;
            justify-content: space-around;
            margin-top: 20px;
            div{
                display: flex;
                flex-direction: column;
                p{
                    font-family: Poppins;
                    color: $grey;
                }
                p.value{
                    align-self: center;
                    color: $dark;
                }
            }
        }
        p.payment {
            display: flex;
            align-items: center;
            font-size: 16px;
            font-family: Poppins;
            color: $grey;
            align-self: center;
            margin: 20px 0 20px 0;
            img {
                width: 120px;
                height: 50px;
                margin-left: 10px;
            }
        }
        button.cta{
            align-self: center;
            border-radius: 10px;
            margin-bottom: 30px;
        }
    }
}
