div.bidding {
    width: 100%;

    div.title {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2%;
    }

    div.grid {
        display: grid;
        grid-template-columns: 55% 45%;
        grid-template-rows: 1fr;
        margin-bottom: 3%;

        div.left {
            position: relative;
            margin: 3% 0 0 10%;

            img {
                width: 100%;
                border-radius: 15px;
            }

            button {
                position: absolute;
                top: 24px;
                right: 36px;
                font-size: 0;
                background: transparent;
                cursor: pointer;

                img {
                    width: 60px;
                }
            }

            p {
                display: flex;
                align-items: center;
                font-size: 24px;
                img {
                    width: 165px;
                    height: 70px;
                    margin-left: 4%;
                }
            }
        }

        div.right {
            margin: 4% 0 0 0;
            display: flex;
            flex-direction: column;
            div.info{
                align-self: center;
                width: 50%;
                p{
                    font-size: 24px;
                    margin-bottom: 5%;
                }
            }
        }
    }
}