@import "../../assets/scss/base/colors";

div.contact {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
}

img.contact-img {
    height: 100%;
    object-fit: fill;
    border-radius: 2%;
}





