@import "../../../assets/scss/base/colors";

div.input {
    position: relative;
    display: flex;
    flex-direction: column;

    div {
        position: relative;
        display: flex;
        align-items: center;

        img {
            position: absolute;
            left: 12px;
            width: 32px;
        }

        input {
            width: 80%;
            height: 70px;
            background: $form-light;
            color: $form-dark;
            box-shadow: 1px 1px 2px rgba(233, 255, 255, 0.3),
                -1px -1px 2px rgba(155, 176, 171, 0.5),
                inset -5px 5px 10px rgba(155, 176, 171, 0.2),
                inset 5px -5px 10px rgba(155, 176, 171, 0.2),
                inset -5px -5px 10px rgba(233, 255, 255, 0.9),
                inset 5px 5px 13px rgba(155, 176, 171, 0.9);
            border-radius: 10px;
            border: 0;
            padding: 0 12px 0 52px;
            font-size: 20px;
            font-weight: 500;
            font-family: "Poppins";
            vertical-align: center;

            &::placeholder {
                color: $form-dark;
            }
        }

        label {
            margin-left: 50px;
            color: red;
            visibility: hidden;
        }

        label.active {
            visibility: visible;
        }
    }

    p {
        margin-top: 8px;
        height: 23px;
        color: red;
    }
}
