button {
    border: 0;
    font-size: 24px;
    font-family: "Poppins";
    font-weight: 500;
}

button.cta {
    cursor: pointer;
    width: 250px;
    height: 60px;
    background: $cta;
    filter: drop-shadow(-2px 2px 2px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
    color: $dark;
    transition: 0.15s ease-in-out;

    &:hover {
        background: $cta-hover;
    }
}

a.btn-1 {
    background: $cta;

    &:hover {
        border-color: rgba($color: $dark, $alpha: 0.5);
    }
}

a.btn-2 {
    position: relative;

    &:before {
        content: "";
        height: 0%;
        width: 100%;
        position: absolute;
        z-index: -1;
        bottom: 0px;
        left: 0;
        background: $cta;
        transition: 0.2s;
    }

    &:hover::before {
        height: 100%;
        border-color: rgba($color: $dark, $alpha: 0.5);
    }
}
