button {
    border: 0;
    font-size: 24px;
    font-family: "Poppins";
    font-weight: 500;
}

a.btn-1 {
    background: $cta;

    &:hover {
        border-color: rgba($color: $dark, $alpha: 0.5);
    }
}

a.btn-2 {
    position: relative;

    &:before {
        content: "";
        height: 0%;
        width: 100%;
        position: absolute;
        z-index: -1;
        bottom: 0px;
        left: 0;
        background: $cta;
        transition: 0.2s;
    }

    &:hover::before {
        height: 100%;
    }

    &:hover {
        border-color: rgba($color: $dark, $alpha: 0.5);
    }
}
