form.signup, form.signup-fill, form.login {
    position: relative;
    left: 34px;
    width: 500px;
    z-index: 1;
    background: $form-light;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -5px 5px 10px rgba(218, 218, 218, 0.2),
        5px -5px 10px rgba(218, 218, 218, 0.2),
        -5px -5px 10px rgba(255, 255, 255, 0.9),
        5px 5px 13px rgba(218, 218, 218, 0.9),
        inset 1px 1px 2px rgba(255, 255, 255, 0.3),
        inset -1px -1px 2px rgba(218, 218, 218, 0.5);
    border-radius: 20px;

    h1 {
        font-weight: 500;
        color: $dark;
    }

    button {
        cursor: pointer;
        width: 250px;
        height: 60px;
        background: $cta;
        box-shadow: -1px 1px 2px rgba(178, 153, 129, 0.2), 1px -1px 2px rgba(178, 153, 129, 0.2), -1px -1px 2px rgba(255, 255, 239, 0.9), 1px 1px 3px rgba(178, 153, 129, 0.9), inset 1px 1px 2px rgba(255, 255, 239, 0.3), inset -1px -1px 2px rgba(178, 153, 129, 0.5);
        border-radius: 10px;
        color: $dark;
        transition: 0.15s ease-in-out;

        &:hover {
            background: $cta-hover;
        }
    }

    p.no-account,
    p.have-account {
        font-size: 18px;
        margin-bottom: 20px;
        font-family: "Poppins";

        a {
            font-weight: 500;
        }
    }
}
