h1,
h2,
h3 {
    color: $dark;
    font-family: "Roboto Slab";
    width: max-content;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 26px;
}

h4 {
    color: $dark;
    font-family: "Poppins";
    font-size: 26px;
}
