@import "../../../assets/scss/base/colors";

nav {
    display: flex;
    gap: 44px;

    ul {
        display: flex;
        li {
            list-style: none;
            font-size: 18px;
        }
    }

    ul.links {
        gap: 60px;

        a {
            position: relative;

            &::before {
                content: "";
                height: 2px;
                width: 0%;
                position: absolute;
                bottom: -4px;
                left: 50%;
                transform: translateX(-50%);
                background: $dark;
                transition: 0.2s;
            }

            &:hover::before {
                width: 100%;
            }
        }
    }

    ul.buttons {
        gap: 20px;

        a {
            position: relative;
            border: 2px solid $cta;
            padding: 8px 24px 8px 24px;
            transition: 0.2s;
        }

        a.btn-1 {
            background: $cta;

            &:hover {
                border-color: rgba($color: $dark, $alpha: 0.5);
                background: $cta-hover;
            }
        }

        a.btn-2 {
            position: relative;

            &:before {
                content: "";
                height: 0%;
                width: 100%;
                position: absolute;
                z-index: -1;
                bottom: 0px;
                left: 0;
                background: $cta-hover;
                transition: 0.2s;
            }

            &:hover::before {
                height: 100%;
            }

            &:hover {
                border-color: rgba($color: $dark, $alpha: 0.5);
            }
        }
    }
}
