@import "../../../assets/scss/base/colors";

form.contact {
    
    width: 90%;
    height: max-content;

    h1 {
        margin: 15% 0 0 0;
        font-size: 80px;
    }

    p {
        font-family: 'Poppins';
        margin-bottom: 20px;
        font-size: 24px;
    }

    div.fields {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 90%;

        input{
            padding-left: 15px;

    }
    
        div.inputs-1 {
        display : flex;
        flex-direction: row;

        input[name=name] {
            width: 80%;
        }
        
        }

        input[name=message] {
            height : 200px;
            padding-bottom: 145px;
            margin-bottom: 35px ;
        }

        div.error {
            width: 90%;
            p {
                margin-top: 8px;
                height: 0px;
                color: red;
                font-size: 100%;
            }
        }
    
    }

    button {
       
        display: flex;
        margin-bottom: 35px;
        padding-top: 10px;
        padding-left: 10px;

    img{
        width: 30px;
        margin-left : 10px;
        margin-bottom : 8px;
    }

    }

}