@import "../../../assets/scss/base/colors";

footer {
    display: flex;
    background: $footer;
    width: 100%;
    padding: 1rem 0 1rem 0;

    div.left {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        
        h3 {
            color: $dark;
            position: relative;
            top: 20%;
        }

        div.socials {
            display: flex;
            width: 200px;
            gap: 16px;
            position: relative;
            top: 20%;            

            a {
                width: 25%;
                img {
                    width: 100%;
                }
            }
        }
    }
    

    span.line {
        width: 2px;
        background-color: $dark;
    }

    div.right {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        margin-top: 24px;

        div.info {
            display: flex;
            flex-direction: column;
            gap: 8px;
            align-items: center;
        }

        p {
            color: $dark;
            
        }

        div.links {
            display: flex;
            gap: 12px;
            margin-top: 12px;
        
        a {
            position: relative;
            color: $dark;
            cursor: pointer;
            
            &::after {
                content: '';
                position: absolute;
                width: 100%;
                transform: scaleX(0);
                height: 1px;
                bottom: 0;
                left: 0;
                background-color: $dark;
                transform-origin: bottom right;
                transition: transform 0.25s ease-out;
            }

            &:hover::after {
                transform: scaleX(1);
                transform-origin: bottom left;
            }
        }
    }     
    }     


    a.logo {
        font-size: 0;
        width: 200px;

        img {
            width: 200px;
        }
    }
}
