@import "../../assets/scss/base/colors";

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

div.index {
    div.section-1 {
        position: relative;

        img {
            width: 100%;
        }

        div.title {
            position: absolute;
            top: 10rem;
            left: 8rem;
        }

        h1 {
            font-family: "Roboto Slab";
            position: relative;
            color: $dark;
            font-size: 5rem;
        }

        h1.title-1 {
            animation: 1s ease-out 0s 1 slideInLeft;
        }

        h1.title-2 {
            animation: 1s ease-out 0.4s 1 slideInLeft;
        }

        h1.title-3 {
            animation: 1s ease-out 0.8s 1 slideInLeft;
        }
    }
}
