@import "../../assets/scss/base/colors";

div.islandPresentation{

    width: 100%;
    height: 100%;
    
    div.topSection{

        position: relative;

        h1{
            font-family: "Roboto Slab";
            position: absolute;
            top: 15%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            color: $light;
            font-size: 5rem;
            text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        }

        img{
            width: 100%;
        }

    }

    div.topInfos{
        
        display: flex;
        margin: 5% 8% 0 8%;
        justify-content: space-around;
        margin-bottom: 3.5%;
        border-bottom: solid $grey 2px;

        p.tittle{
            font-family: "Roboto Slab";
            font-size: 1.8rem;
            color: $dark;
            margin-left: 25%;
        }

        div.leftPart{
            width: 100%;
            margin-bottom: 5%;

            p.other{
                display: flex;
                align-items: center;
                color: $dark;
                font-size: 1.2rem;
                img{
                    width: 75px;
                    margin-right: 7%;
                    margin-left: 25%;
                }
            }

        }

        div.rightPart{
            width: 100%;
            

            div.infoAtTop{
                display: flex;
                height: 75px;
                div{
                    margin-top: 2%;
                    p{
                        color: $dark;
                        font-size: 1.2rem;
                    }
                }
            }

            div.infoAtBottom{
                display: flex;
                height: 75px;
                div{
                    margin-top: 2%;
                    p{
                        color: $dark;
                        font-size: 1.2rem;
                    }
                }
            }

            img{
                width: 75px;
                margin-right: 7%;
                margin-left: 25%;
            }

        }
    }

    div.featuresSection{
        display : flex;
        flex-direction: column;
        padding : 0 50px 0 50px;
        gap: 55px;
        margin-bottom: 4%;
        
        h2{
            font-family: "Roboto Slab";
            color: $dark;
            font-size: 3rem;
            align-self: center;
            margin-bottom: 3%;
        }

        div{
            display: flex;
            div.text{
                width: 100%;
                display: flex;
                flex-direction: column;
                padding: 0 50px 0 50px;
                p.tittle{
                    align-self: center;
                    font-family: "Roboto Slab";
                    color: $dark;
                    font-size: 2rem;
                    margin-bottom: 5%;
                }
                p.description{
                    font-family: "Roboto Slab";
                    color: $dark;
                    font-size: 1.4vw;
                    text-align: justify;
                }
            }
            img{
                width: 50%;
                height: 50%;
                align-self: center;
            }
        }
    }

    div.picturesSection{
        display : flex;
        flex-direction: column;
        padding : 0 50px 0 50px;
        justify-content: center;
        align-items: center;

        hr{
            width: 80%;
            align-self: center;
        }

        h2{
            font-family: "Roboto Slab";
            color: $dark;
            font-size: 3rem;
            align-self: center;
            margin-bottom: 3%;
            margin-top: 4%;
        }
        
        div.slider{
            width: 800px;
            height: 500px;
            overflow: hidden;
        }

        div.slides{
            width: 500%;
            height: 500px;
            display: flex;
            
            input{
                display: none;
            }

            div.slide{
                width: 20%;
                transition: 2s;

                img{
                    width: 800px;
                    height: 500px;
                }
            }
        }

        /* CSS for manual slide navigation  */
        
        div.navigation-manual{
            position: absolute;
            width: 800px;
            margin-top: -40px;
            display: flex;
            justify-content: center;
        }

        label.manual-btn{
            border: 2px solid $light;
            padding: 5px;
            border-radius: 10px;
            cursor: pointer;
            transition: 1s;
        }

        .manual-btn:not(:last-child){
            margin-right: 40px;
        }

        .manual-btn:hover{
            background: $light;
        }

        #radio1:checked ~ .first{
            margin-left: 0;
        }

        #radio2:checked ~ .first{
            margin-left: -20%;
        }

        #radio3:checked ~ .first{
            margin-left: -40%;
        }

        #radio4:checked ~ .first{
            margin-left: -60%;
        }

        #radio5:checked ~ .first{
            margin-left: -80%;
        }
    }

    div.locationSection{
        display : flex;
        flex-direction: column;
        padding : 0 50px 0 50px;

        hr{
            margin-top: 60px;
            width: 80%;
            align-self: center;
        }

        h2{
            font-family: "Roboto Slab";
            color: $dark;
            font-size: 3rem;
            align-self: center;
            margin-bottom: 3%;
            margin-top: 4%;
        }

        
        iframe{
            align-self: center;
            width: 90%;
            height: 600px;
            margin-bottom: 3%;
        }

        div.info {
            display: flex;
            justify-content: center;
            width: 100%;

            p {
                width: 90%;
                text-align: justify ;
            }
        }
    }

    div.interested{
        display : flex;
        flex-direction: column;
        padding : 0 50px 0 50px;
        margin-top: 5%;

        hr {
            width: 80%;
            align-self: center;
        }

        h3 {
            align-self: center;
            margin-top: 3%;
        }

        a {
            margin: 3% 0 4% 0;
            align-self: center;
        }
    }
}