@import "../../../assets/scss/base/colors";

div.search-bar {
    display: flex;
    align-items: center;
    gap: 12px;

    input {
        border: 2px solid #ababab;
        border-radius: 12px;
        width: 300px;
        height: 30px;
        padding: 0 12px 0 12px;
        font-family: "Poppins";
        font-size: 15px;
        color: $dark;
    }

    img {
        width: 36px;
    }
}
