@import "../../../assets/scss/base/colors";

form.signup, form.signup-fill {
    div.form-steps {
        display: flex;
        align-items: center;
        margin-top: 16px;

        span.ball-filled,
        span.ball-unfilled {
            display: block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
        }

        span.ball-filled {
            background: $dark;
        }

        span.line-unfilled, span.line-filled {
            width: 140px;
            height: 4px;
        }

        span.line-unfilled {
            background: $grey;
        }

        span.line-filled {
            background: $dark;
        }

        span.ball-unfilled {
            background: $grey;
        }
    }

    h1 {
        margin: 12px 0 20px 0;
        font-family: 'Poppins';
    }

    div.doubled-inputs {
        display: flex;
        gap: 12px;
        width: 90%;
        margin-bottom: 8px;

        div.global-input {
            width: 50%;

            input {
                padding-left: 16px;
            }
        }
    }

    div.fields {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 90%;
    }

    div.checkbox {
        width: 90%;
    }

    input.checkbox {
        width: 16px;
        height: 16px;
        margin-right: 8px;
    }

    label.checkbox {
        font-size: 15px;
        color: $dark;
    }
}

form.signup {
    div.fields {
        margin-bottom: 12px;
    }

    button {
        width: 244px;
        margin: 16px 0 12px 0;
        width: 50%;
    }

    a{
        text-decoration: underline;
        cursor: pointer;
    }
}

form.signup-fill {
    div.fields {
        margin-bottom: 8px;
        input {
            padding-left: 16px;
        }

        div.input {
            position: relative;
            
            button {
                position: absolute;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                right: 12px;
                width: 50px;
                height: 50px;
                border-radius: 10px;
                background: $cta-hover;
                box-shadow: 1px 1px 2px rgba(179, 163, 148, 0.2), 
                -1px -1px 2px rgba(179, 163, 148, 0.2), 
                1px -1px 2px rgba(255, 255, 255, 0.9), 
                -1px 1px 3px rgba(179, 163, 148, 0.9), 
                inset -1px 1px 2px rgba(255, 255, 255, 0.3), 
                inset 1px -1px 2px rgba(179, 163, 148, 0.5);

                img {
                    width: 30px;
                    height: 30px;
                }
            }
        }

        input.id-card {
            cursor: default;
        }

        input.id-card-upload {
            display: none;
        }

        select:invalid {
            color: rgba($color: $dark, $alpha: 0.5);
        }

        select:valid {
            color: $dark;
        }

        select {
                width: 100%;
                height: 70px;
                background: $form-light;
                box-shadow: -1px 1px 2px rgba(255, 251, 251, 0.3), 
                1px -1px 2px rgba(210, 205, 205, 0.5), 
                inset 4px 4px 8px rgba(210, 205, 205, 0.2), 
                inset -4px -4px 8px rgba(210, 205, 205, 0.2), 
                inset 4px -4px 8px rgba(255, 251, 251, 0.9), 
                inset -4px 4px 10px rgba(210, 205, 205, 0.9);
                border-radius: 5px;
                border: 0;
                padding: 0 24px 0 12px;
                font-size: 20px;
                font-weight: 500;
                font-family: "Poppins";
                vertical-align: center;
                appearance: none;
                background-image: url(../../../assets/img/arrow-down-icon.svg);
                background-size: 20px;
                background-repeat: no-repeat;
                background-position: calc(100% - 26px) center;
        }

        select select {
            display: none;
        }

    
    }

    div.buttons {
        width: 90%;
        display: flex;
        gap: 12px;
        margin: 12px 0 16px 0;
    }

    a{
        text-decoration: underline;
    }
}
