@import "../../../assets/scss/base/colors";

form.signup {
    div.form-steps {
        display: flex;
        align-items: center;
        margin-top: 16px;

        span.ball-filled,
        span.ball-unfilled {
            display: block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
        }

        span.ball-filled {
            background: $dark;
        }

        span.line-unfilled, span.line-filled {
            width: 140px;
            height: 4px;
        }

        span.line-unfilled {
            background: $grey;
        }

        span.line-filled {
            background: $dark;
        }

        span.ball-unfilled {
            background: $grey;
        }
    }

    h1 {
        margin: 12px 0 20px 0;
        font-family: 'Poppins';
    }

    div.names {
        display: flex;
        gap: 12px;
        width: 90%;
        margin-bottom: 8px;

        div.global-input {
            width: 50%;

            input {
                padding-left: 16px;
            }
        }
    }

    div.fields {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 90%;
        margin-bottom: 12px;
    }

    div.checkbox {
        width: 90%;
    }

    input.checkbox {
        width: 16px;
        height: 16px;
        margin-right: 8px;
    }

    label.checkbox {
        font-size: 15px;
        color: $dark;
    }

    button {
        width: 244px;
        margin: 16px 0 12px 0;
    }
}
