@import "../../assets/scss/base/colors";

div.islands {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    div.top {
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 40px 0 32px 0;
    }

    button.filter{
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 8px;
        cursor: pointer;
        justify-self: end;
        background: #F0F0F0;
        display: flex;
        align-items: center;
        gap: 8px;

        img{
            width: 22px;
            transition: 0.12s;
        }
    }


    div.dropdown{
        position: absolute;
        right: 0;
        bottom: calc(-133px - 24px); // div height minus div padding
        gap: 36px;
        width: 60%;
        background: #F0F0F0;
        display: none;
        padding: 12px 24px;


        div{
            width: 33.3333%;
        }
        
        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 8px;
    
            li {
                display: flex;
                align-items: center;
                justify-content: space-between;
                p {
                    color: $dark;
                    font-size: 20px;
                }
            }
        }

    }
    
   


    div.grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        gap: 16px 52px;
        margin-bottom: 60px;
    }
}
