@import "../../../assets/scss/base/colors";

main.accountSettings{

    width: 100%;
    height: 100%;
    display: flex;

    div.infoPart{

        width: 700px;
        height: 80vh;
        padding-left: 3%;
        padding-top: 6%;
        
        h1{

            font-family: "Poppins";
            font-size: 29px;
           
        }

        div.line{

            display: flex;
            margin-top: 50px;
        

            div.last{
                margin-left: 5%;
            }

            p{
                font-family: "Poppins";
                font-size: 20px;
                font-weight: 500;
            }

            p.info{
                background-color : $form-light;
                width: 250px;
                height: 55px;
                padding-top: 13px;
                padding-left: 15px;
            }

            p.small{
                background-color : $form-light;
                width: 120px;
                height: 55px;
                padding-top: 13px;
                padding-left: 15px;
            }
        }

    }

    div.formPart{
        width: 100%;
        height: 80%;
        padding-left: 12%;
        padding-top: 6%;
    }
}