@import "../../../assets/scss/base/colors";

nav {
    display: flex;
    gap: 44px;

    ul {
        display: flex;
        li {
            list-style: none;
            font-size: 18px;
        }
    }

    ul.links {
        gap: 60px;

        a {
            position: relative;

            &::before {
                content: "";
                height: 2px;
                width: 0%;
                position: absolute;
                bottom: -4px;
                left: 50%;
                transform: translateX(-50%);
                background: $dark;
                transition: 0.2s;
            }

            &:hover::before {
                width: 100%;
            }
        }
    }

    ul.buttons {
        gap: 20px;

        a {
            border: 2px solid $cta;
            padding: 8px 24px 8px 24px;
            transition: 0.2s;
        }

        a.btn-1 {
            background: $cta;

            &:hover {
                background-color: transparent;
            }
        }

        a.btn-2 {
            &:hover {
                background: $cta;
            }
        }
    }
}
