@import "../../../assets/scss/base/colors";

form.login {
    h1 {
        margin: 52px 0 32px 0;
    }

    div.fields {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 90%;

        div.inputs {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }

        a {
            font-size: 18px;
            width: max-content;
        }
    }

    button {
        margin: 28px 0 32px 0;

        &:hover {
            background: $form-btn-bg-light;
        }
    }
}
